body {
  background-color: #e3f4fb;
}

.header {
  height: 200px;
}

#logo-pic {
  position: relative;
  left: 30px;
}

#login-button {
  max-height: 100px;
  border: 3px solid black;
  border-radius: 50%;
  position: relative;
  top: 30px;
}

#login-button:hover {
  border: 5px solid black;
}
